table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #c4c4c4;
    text-align: left;
    padding: 5px;
}

.jumbotron {
    background-color: #476bc0;
    font-family: 'Share Tech Mono', monospace;
}

.jumbotron,
h1,
h2,
h3 {
    color: #f8f8f8;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #476bc0;
    border-color: #ddd;
}

.panel-title {
    color: #f8f8f8;
}