    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #c4c4c4;
    text-align: left;
    padding: 5px;
}

.jumbotron {
    background-color: #337ab7;
    font-family: 'Share Tech Mono', monospace;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.jumbotron,
h1,
h2,
h3 {
    color: #f8f8f8;
}

.jumbotron img {
    width: 100%;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #337ab7;
    border-color: #ddd;
}

.panel-default>.panel-heading>.panel-title {
    color: #f8f8f8;
}

.section-heading {
    color: #333;
    font-family: 'Share Tech Mono', monospace;
}

.fa .fa-phone .fa-3x .mb-3 .sr-contact,
p {
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
}

.row .fa .fa-phone .fa-3x .mb-3 .sr-contact {
    max-width: 300px;